<%= form_with(model: profile, builder: ApplicationFormBuilder) do |form| %>
  <%= render 'layouts/errors', resource: profile %>

  <%= form.labelled_text_field :name %>
  <%= form.labelled_text_field :handle %>
  <%= form.labelled_text_area :bio %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
