<div class="container">
  <div class="section">
    <h1 class="title">Profiles</h1>

    <%= form_with url: profiles_path, method: :get, local: true, builder: ApplicationFormBuilder, class: "block" do |form| %>
      <div class="field has-addons">
        <div class="control">
          <%= form.text_field :search, value: params[:search], placeholder: "Search profiles" %>
          <p class="help">Search by name or handle</p>
        </div>
        <div class="control">
          <%= form.submit "Search", class: "button is-primary" %>
        </div>
      </div>
    <% end %>

    <table class="table block">
      <thead>
        <tr>
          <th>Name</th>
          <th>Handle</th>
          <th class="is-hidden-mobile">Bio</th>
        </tr>
      </thead>

      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td><%= link_to profile %></td>
            <td><%= profile.handle %></td>
            <td class="is-hidden-mobile"><%= profile.bio %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
