<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="media mb-3" style="row-gap:1em">
          <figure class="media-left image">
            <%= image_tag profile_picture(@profile.email), alt: "Profile pic" %>
          </figure>
          <div class="media-content">
            <p class="has-text-weight-bold is-size-4"><%= @profile.name %></p>
            <p class="has-text-weight-semi-bold is-size-6"><%= "@#{@profile.handle}" %></p>
          </div>
        </div>
        <div class="content">
          <%= policy(@profile).show_details? ? kramdown(@profile.bio) : unauthorized_message(@profile, blocked: @their_friendship&.blocked?) %>
        </div>
        <% if @relationship && !@mine %>
          <%= render "components/message", css_class: "is-info" do %>
            <%= link_to @relationship.description, @relationship.friendship %>
          <% end %>
        <% end %>
      </div>
      <% if @relationship && !@mine %>
        <div class="card-footer field is-grouped-multiline has-addons">
          <%= relationship_buttons(@relationship) %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <% if policy(@profile).show_details? && @events.size > 0 %>
      <div class="block">
        <h2 class="title is-3">Events</h2>
        <%= render 'events/list', events: @events, pagy: @events_pagy, select_time: false %>
      </div>
    <% end %>
    <div class="block">
      <%= qr_code(profile_url(@profile)) %>
    </div>
    <div class="block">
      <%= buttons(@profile, include_nav: true, include_delete: false) %>
    </div>
  </div>
</section>
