<div class="container">
  <div class="block">
    <h1 class="title"><%= @profile.name %></h1>
    <h2 class="subtitle"><%= "@#{@profile.handle}" %></h2>
    <% if @profile != current_user.profile %>
      <%= friendship_button(@profile) %>
    <% end %>
  </div>
  <div class="block">
    <p><%= @profile.bio %></p>
  </div>
  <% if @profile.events.present? %>
    <div class="block">
      <%= render 'events/list', events: @events %>
    </div>
  <% end %>
  <div>
    <%= buttons(@profile, include_nav: true) %>
  </div>
</div>
