<section class="section">
  <div class="container">
    <div class="block">
      <div class="media mb-3" style="row-gap:1em">
        <figure class="media-left image">
          <%= image_tag profile_picture(@profile.email), alt: "Profile pic" %>
        </figure>
        <div class="media-content">
          <p class="has-text-weight-bold is-size-4"><%= @profile.name %></p>
          <p class="has-text-weight-semi-bold is-size-6"><%= "@#{@profile.handle}" %></p>
        </div>
      </div>
      <div class="content">
        <%= policy(@profile).show_details? ? kramdown(@profile.bio) : unauthorized_message(@profile, blocked: @their_friendship&.blocked?) %>
      </div>
      <p>
        <%= link_to_if @your_friendship, @your_friendship %>
        <div class="field is-grouped-multiline has-addons">
          <%= friendship_button(@your_friendship, current_user&.profile) %>
        </div>
        <% if @their_friendship && policy(@their_friendship).show? %>
          <%= link_to @their_friendship %>
          <%= friendship_button(@their_friendship, current_user&.profile) %>
        <% end %>
      </p>
    </div>
    <% if policy(@profile).show_details? && @events.size > 0 %>
      <div class="block">
        <h2 class="title is-3">Events</h2>
        <%= render 'events/list', events: @events, pagy: @events_pagy, select_time: false %>
      </div>
    <% end %>
    <div class="block">
      <%= buttons(@profile, include_nav: true) %>
    </div>
  </div>
</section>
