<div class="section">
  <div class="container">
    <div class="media is-flex-wrap-wrap mb-3" style="row-gap:1em">
      <figure class="media-left image">
        <img src="<%= profile_picture(@profile.email) %>" alt="Profile pic">
      </figure>
      <div class="media-content">
        <p class="has-text-weight-bold is-size-4"><%= @profile.name %></p>
        <p class="has-text-weight-semi-bold is-size-6"><%= "@#{@profile.handle}" %></p>
      </div>
      <div class="media-right">
        <%= friendship_button(@profile) %>
      </div>
    </div>
    <div class="block">
      <p>
        <%= policy(@profile).show_details? ? @profile.bio : unauthorized_message(@profile) %>
      </p>
    </div>
  </div>
</div>
<% if policy(@profile).show_details? %>
  <div class="section">
    <div class="container">
      <div class="block">
        <%= render 'events/list', events: @events %>
      </div>
    </div>
  </div>
<% end %>
<div class="section">
  <div class="container">
    <%= buttons(@profile, include_nav: true) %>
  </div>
</div>
