<section class="section">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, builder: ApplicationFormBuilder) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="field">
      <%= cloudflare_turnstile %>
    </div>

    <div class="field actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>

    <div class="field actions">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>
