<%= form_with(model: event_attendee, builder: ApplicationFormBuilder) do |form| %>
  <% if event_attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_attendee.errors.count, "error") %> prohibited this event_attendee from being saved:</h2>

      <ul>
        <% event_attendee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profile_id %>
    <%= profile_with_icon event_attendee.profile %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= link_to event_attendee.event %>
  </div>

  <% if event_attendee.profile == current_user&.profile %>
    <%= form.labelled_date_field :email_scheduled_on, help: "The date you'll receive your event reminder email." %>
  <% end %>

  <% if event_attendee.organizer? || current_user&.admin? %>
    <div class="field mt-3">
      <label class="checkbox">
        <%= form.check_box :organizer %>
        Organizer
      </label>
    </div>
  <% end %>

  <div class="actions mt-5">
    <%= form.submit %>
  </div>
<% end %>
