<div class="section">
  <div class="block">
    <%= profile_with_icon @event_attendee.profile %>
    is <%= @event_attendee.organizer? ? "organizing" : "attending" %>
    <%= link_to @event_attendee.event %>
    on <%= date_range(@event_attendee.event) %>.
  </div>

  <% if @event_attendee.profile == current_user&.profile %>
    <div class="block">
      <%= email_delivery_text(@event_attendee) %>
    </div>
  <% end %>

  <div class="block">
    <%= simple_page_navigation_with_delete(@event_attendee) %>
  </div>
</div>
