<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :notifiable_type %>
    <%= form.text_field :notifiable_type %>
  </div>

  <div class="field">
    <%= form.label :notifiable_id %>
    <%= form.text_field :notifiable_id %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.collection_select :profile_id, Profile.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
