<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Notifiable:</strong>
  <%= @notification.notifiable_id %>
</p>

<p>
  <strong>Notified:</strong>
  <%= @notification.notified_id %>
</p>

<p>
  <strong>Notifier:</strong>
  <%= @notification.notifier_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
