<div class="block">
  <%= form_with(model: event, builder: ApplicationFormBuilder) do |form| %>
    <%= render "layouts/errors", resource: @event %>
    
    <%= form.labelled_text_field :name %>
    <%= form.labelled_text_area :description %>
    <div class="field">
      <label class="label">Date</label>
      <div class="control columns">
        <div class="column">
          <%= form.datetime_local_field :start_at, class: "input" %>
        </div>
        <div class="column">
          <%= form.datetime_local_field :end_at, class: "input" %>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= form.submit "Submit", class: "button is-primary" %>
    </div>
  <% end %>
</div>
