<div class="block">
  <%= form_with(model: event, builder: ApplicationFormBuilder) do |form| %>
    <%= render "layouts/errors", resource: @event %>
    
    <%= form.labelled_text_field :name %>
    <%= form.labelled_text_field :handle %>
    <%= form.labelled_text_area :description %>
    
    <div data-controller="location">
      <div class="field">
        <%= form.label :location_type, class: "label" %>
        <div class="control">
          <%= form.select :location_type, 
              @location_types, 
              {}, 
              class: "select",
              data: { action: "change->location#toggleAddress" } %>
        </div>
      </div>

      <div class="field" data-location-target="addressField">
        <%= form.label :address, class: "label" %>
        <div class="control">
          <%= form.text_field :address, class: "input" %>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Date</label>
      <div class="control columns">
        <div class="column">
          <%= form.datetime_local_field :start_at, class: "input" %>
        </div>
        <div class="column">
          <%= form.datetime_local_field :end_at, class: "input" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class: "button is-primary" %>
    </div>
  <% end %>
</div>
