<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start at</th>
      <th>End at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event, event %></td>
        <td><%= event.description %></td>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
