<% if select_time %>
<div class="tabs is-centered is-fullwidth mb-0">
  <ul>
    <li class="<%= "is-active" if params[:when] == "future" %>">
      <%= link_to "Future", events_path(when: :future) %>
    </li>
    <li class="<%= "is-active" if params[:when] == "ongoing" || params[:when].blank? %>">
      <%= link_to "Ongoing", events_path(when: :ongoing) %>
    </li>
    <li class="<%= "is-active" if params[:when] == "past" %>">
      <%= link_to "Past", events_path(when: :past) %>
    </li>
  </ul>
</div>
<% end %>

<% unless events&.any? %>
  <p>There are no events to display.</p>
<% else %>
  <table class="table is-fullwidth">
    <tbody>
      <% events.each do |event| %>
        <tr>
          <td><%= link_to event %></td>
          <% if @friends_attending_count %>
            <td><%= t(".friends", count: @friends_attending_count[event.id].to_i) %></td>
          <% end %>
          <td class="is-hidden-mobile"><%= date_range(event) %></td>
          <td class="is-hidden-tablet"><%= date_range(event, format: :short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%== pagy_bulma_nav(pagy) if pagy.pages > 1 %>
