<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title"><%= @event.name %></h1>
        <p class="subtitle"><%= date_range(@event) %></p>
        <div class="content">
          <%= kramdown(@event.description) %>
        </div>

      </div>

      <div class="column is-one-quarter">
        <div class="mb-3">
          <% if current_user&.profile&.attending? @event %>
            <%= button_to "Cancel Attendance",
            { controller: :event_attendees,
            action: :destroy,
            id: current_user&.profile&.event_attendee(@event)&.first&.id },
            method: :delete,
            class: "button is-danger" %>
          <% elsif current_user %>
            <%= button_to "Attend",
              event_attendees_path(
                event_attendee: {
                                  profile_id: current_user.profile&.id,
                                  event_id: @event.id
                              }
            ),
            action: "create",
            class: "button is-primary" %>
          <% end %>
        </div>
        <%= render "event_attendees/list", event_attendees: @event_attendees %>
      </div>
    </div>
  </div>

  <section class="section">
    <%= qr_code(event_url(@event)) %>
  </section>

  <div class="section"><%= buttons(@event, include_nav: true) %></div>
</div>
