<div class="container">
  <section class="section">
    <div class="columns">
      <div class="column">
        <h1 class="title"><%= @event.name %></h1>
        <p class="subtitle"><%= date_range(@event) %></p>

        <% if @event_attendee %>
          <div class="block">
            <%= render "components/message", css_class: "is-info" do %>
              You are <%= link_to @event_attendee.organizer? ? "organizing" : "attending", event_attendee_path(@event_attendee) %> this event.
            <% end %>
          </div>
        <% end %>

        <div class="content block">
          <%= kramdown(@event.description) %>
        </div>

        <div class="block">
          <%= qr_code(event_url(@event)) %>
        </div>

        <div class="block">
          <%= buttons(@event, include_nav: true, include_delete: false) %>
        </div>
      </div>

      <div class="column is-one-quarter">
        <div class="block">
          <% if @event_attendee %>
            <%= delete_button @event_attendee, title: "Cancel Attendance" %>
          <% elsif current_user&.profile %>
            <%= attend_event_button event: @event, profile: current_user.profile %>
          <% end %>
        </div>
        <div class="block">
          <%= render "event_attendees/list", event_attendees: @event_attendees %>
        </div>
        <div class="block">
          <%= link_to "All Attendees", event_attendees_path(event_id: @event.id) %>
        </div>
      </div>
    </div>
  </section>
</div>
