<section class="section">
  <h1 class="title">Friendships</h1>
  <% if @friend_requests.present? %>
    <table class="table friend-requests is-fullwidth">
      <thead><tr>
        <th colspan="2">You have Friend Requests!</th>
      </tr></thead>
      <% @friend_requests.each do |friendship| %>
        <tr>
          <td><%= profile_with_icon(friendship.friend) %></td>
          <td class="has-text-right"><%= view_friendship(friendship) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th colspan="2">Friends</th>
      </tr>
    </thead>
    <tbody>
      <% @friendships.each do |friendship| %>
        <tr>
          <td><%= profile_with_icon(friendship.friend) %></td>
          <td class="has-text-right"><%= view_friendship(friendship) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @outgoing_friend_requests.present? %>
    <table class="table is-fullwidth">
      <thead><tr>
        <th colspan="2">Requests awaiting response</th>
      </tr></thead>
      <% @outgoing_friend_requests.each do |friendship| %>
        <tr>
          <td><%= profile_with_icon(friendship.buddy) %></td>
          <td class="has-text-right"><%= view_friendship(friendship) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</section>
