<nav class="navbar <%= alert_color %> mb-3" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-hidden-mobile" href="/">ConfBuddies</a>
    <a class="navbar-item is-hidden-tablet" href="/">CB</a>
    <%= link_to "Events", events_path, class: "navbar-item is-hidden-mobile" %>
    <%= link_to "ðŸ“…", events_path, class: "navbar-item is-hidden-tablet" %>
    <% if current_user %>
      <% if current_user.profile&.id %>
        <%= link_to "Friends", friendships_path, class: "navbar-item is-hidden-mobile" %>
        <%= link_to "ðŸ¤", friendships_path, class: "navbar-item is-hidden-tablet" %>
        <%= link_to "My Profile", profile_path(current_user.profile), class: "navbar-item is-hidden-mobile" %>
        <%= link_to "ðŸ¦¸", profile_path(current_user.profile), class: "navbar-item is-hidden-tablet" %>
        <%= link_to "Notifications (#{@notification_count})", notifications_path, class: "navbar-item is-hidden-mobile" %>
        <%= link_to "ðŸ”” (#{@notification_count})", notifications_path, class: "navbar-item is-hidden-tablet" %>
      <% else %>
        <%= link_to "Create Profile", new_profile_path, class: "navbar-item" %>
      <% end %>
      <div class="navbar-item">
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "button #{alert_color} is-inverted is-outlined" %>
      </div>
    <% else %>
      <div class="navbar-item">
        <%= link_to "Sign In", new_user_session_path, class: "button #{alert_color} is-inverted is-outlined" %>
      </div>
    <% end %>
    <% if notice || alert %>
      <div class="navbar-item is-hidden-mobile">
        <%= notice || alert %>
      </div>
    <% end %>
  </div>
</nav>
